:root {
	--LightCyan: hsl(193, 38%, 86%);
	--NeonGreen: hsl(150, 100%, 66%);
	--GrayishBlue: hsl(217, 19%, 38%);
	--DarkGrayishBlue: hsl(217, 19%, 24%);
	--DarkBlue: hsl(218, 23%, 16%);
}

body {
	background: var(--DarkBlue);
	text-align: center;
	font-family: 'Manrope', sans-serif;
}

.disappear {
	position: relative;
	top: -100%;
}

.spinner {
	animation: spin .5s ease-in-out infinite backwards;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	80% {
		transform: rotate(300deg);
	}

	100% {
		transform: rotate(260deg);
	}
}